<h1>New User</h1>

<%= form_for @user do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.label :age %>
        <%= f.number_field :age %>
    </p>
    <p>
        <%= f.label :role %>
        <%= f.select :role, options_for_select([['Creator', 'creator'], ['Viewer', 'viewer']]) %>
    </p>    
    <p>
        <%= f.submit %>
    </p>
<% end %>