<h3>User Details</h3>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Age:</strong> <%= @user.age %></p>
<p><strong>Role:</strong> <%= @user.role %></p>
<h3>Subscribed Channels</h3>
<ul>
  <% @user.channels.each do |channel| %>
    <li><%= channel.name %></li>
  <% end %>
</ul>
<h3>Owned Channels</h3>
<ul>
  <% @user.owned_channels.each do |channel| %>
    <li><%= channel.name %></li>
  <% end %>
</ul>

<% if current_user == @user || current_user&.role == "admin" %>
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= button_to "Delete", @user, method: :delete, data: { turbo_confirm: "Are you sure?" }, form: { style: "display: inline-block;" } %> | 
<% end %>
<%= link_to "Back to Users", users_path %>