<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Video Network" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Video Network">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel: "stylesheet" %>
    <style>
      .main-container {
        max-width: 900px;
        margin: 40px auto;
      }
      .pagination {
        display: flex;
        justify-content: center;
        gap: 6px;
        margin: 20px 0;
        align-items: center;
      }

      .pagination a,
      .pagination .current {
        display: inline-block;
        padding: 6px 10px;
        border: 1px solid #ddd;
        text-decoration: none;
        color: #2980b9;
        line-height: 1.2;
      }

      .pagination .current {
        background-color: #2980b9;
        color: white;
        border-color: #2980b9;
      }
      .flash-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1050;
      }

      .flash-message {
        min-width: 250px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    </style>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container-fluid">

        <%= link_to "Video Network", root_path, class: "navbar-brand fw-bold" %>

        <div class="collapse navbar-collapse justify-content-end">

          <% if user_signed_in? %>
            <ul class="navbar-nav align-items-center">

              <li class="nav-item me-3 text-white">
                <span class="small">
                  Logged in as 
                  <strong class="text-info"><%= current_user.name %></strong>
                  <span class="text-secondary">
                    (<%= current_user.role.capitalize %>)
                  </span>
                </span>
              </li>

              <li class="nav-item">
                <%= button_to "Logout",destroy_user_session_path,method: :delete,class: "btn btn-outline-light btn-sm", form: { class: "d-inline" } %>
              </li>

              <li class="nav-item ms-3">
                <%= link_to "My Profile", user_path(current_user), class: "btn btn-primary btn-sm" %>
              </li>

              <li class="nav-item ms-3">
                <%= link_to "All Channels", channels_path, class: "btn btn-primary btn-sm" %>
              </li>

              <% unread_count = current_user.notifications.where(read: false).count %>
              <li class="nav-item ms-3">
                <%= link_to "Notifications (#{unread_count})", notifications_path, class: "btn btn-primary btn-sm" %>
              </li> 

              <% if current_user.admin? %>
                <li class="nav-item ms-3">
                  <%= link_to "All Users", users_path, class: "btn btn-primary btn-sm" %>\
                </li>
              <% end %>

            </ul>
          <% else %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-sm" %>
              </li>
              <li class="nav-item ms-3">
                <%= link_to "All Channels", channels_path, class: "btn btn-primary btn-sm" %>
              </li>
            </ul>
          <% end %>

        </div>
      </div>
    </nav>

    <div class="flash-container">
      <% if notice %>
        <div class="flash-message alert alert-success shadow">
          <%= notice %>
          <button type="button" class="btn-close ms-3"
            onclick="this.parentElement.style.display='none'"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="flash-message alert alert-danger shadow">
          <%= alert %>
          <button type="button" class="btn-close ms-3"
            onclick="this.parentElement.style.display='none'"></button>
        </div>
      <% end %>
    </div>

    <div class="main-container">
      <%= yield %>
    </div>

    <footer class="bg-dark text-white text-center py-4 mt-auto">
      <div class="container">
        © <%= Time.current.year %> Video Network Platform. All rights reserved.
      </div>
    </footer>
    <script>
      setTimeout(() => {
        document.querySelectorAll('.flash-message').forEach(el => {
          el.remove()
        });
      }, 3000);
    </script>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" %>
  </body>
</html>
